@model HTTP5101_Cumulative_Pt1_Natasha_Chambers.Models.Class
@{
    ViewBag.Title = "Show";
}

<h2>@Model.ClassCode : @Model.ClassName</h2>

<div>
    <p>@Model.StartDate</p>
    <p>@Model.FinishDate</p>
</div>